.container {
  max-width: 1080px;
  margin: 20px auto;
  /* background-color: green; */
  /* background: url('./sunset.jpg') no-repeat center center/cover; */
  
}

/* Search {
  background-color: rgb(52, 65, 204);
  
} */

